body{
    background-color: #ddd;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
}

div.navbar {
    overflow: hidden;
    background-color: #252525;
    position: fixed;
    top: 0;
    width: 100%;
    
  }

  div.navbar a {
    float: right;
    display: block;
    color:#ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change background on mouse-over */
  div.navbar a:hover {
    background: lightseagreen;
    color: #252525;
  }

  div.resume{
    margin-top: 75px;
    text-align: center;
}


div.info{
    font-size: 20px;
    background: #393939;
    color: white;
    width: 100%;
    z-index: 1;
}

/* The progress container (grey background) */
.progress-container {
    margin-top: 35px;
    width: 100%;
    height: 8px;
    background:#ddd;
    position: fixed;
  }
  .progress-container1 {
    margin-top: -30px;
    width: 100%;
    height: 8px;
    background:#ddd;
    position: fixed;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background:lightseagreen;
    width: 0%;
  }

img.me {
    border-radius: 25%;
    width: 350px;
    max-width: 100%;
    height: auto;
    float: left;
    /* padding:90px; */
    /* display: block;
    max-width: 100%; */
}


div.about{
    vertical-align: middle; 
    padding: 100px;
    margin-left: 50px;
    line-height: 250%;
    /* float: right; */
}

div.info a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
  
div.info a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
  
div.info a:hover {
    color: lightseagreen;
    background-color: transparent;
    text-decoration: underline;
}
  
div.info a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

div.job{
    width: 65%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-right:25px;
}


img.logo{
    width: 300px;
    height:300px;
}

div.desc{
    float:right;
    width: 65%;
    padding-top: 20px;
    font-size: 20px;
}


div.coursework{
    text-align:center;
    /* float: left;
    margin-left: 10%; */
}

/* div.hobbies{
    text-align:center;
    float: right;
    margin-right: 10%;
} */

div.footer {
    background-color: #252525;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    /* position:fixed; */
  }

  .social{
      border-radius: 50%;
  }

  /* div.footer a {
    float: center
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  } */
 
  div.footer a:hover {
    transform: scale(1.5);
  }

  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: black;
  }

  li {
      padding: 4px;
      font-size: 17px;
  }

  img.social{
    width: 35px;
    padding: 15px;
}




  /* #myBtn {
  border: 2px solid lightseagreen;
  background-color: white;
  color: lightseagreen;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  height: 3.25em;
  line-height: 3.25em;
  padding: 0 2.5em;
  border-radius: 12px;
  }
  
  #myBtn:hover {
    background-color:lightseagreen; 
    color: white;
  } */
  
  .vl {
    border-left: 1px solid #878787;
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
  }

  .desc{
      
  }

  p {
      text-align: justify;
      float:center;
  }

 
